			#nav {height: 50px;}
			
			#main_list > li {list-style: none;}
			.media {height: 100%;}
			
			.row .media .content {
			  display: inline-block;
              vertical-align: middle;
              zoom: 1;
              width: 500px;
              margin-top: 15px;
              margin-left: 10px;
            }         
            
         .main_navi_sub {
         height: 5px;
         font-size: 18px;
         }
            
            .navbar .container #myNavbar_sub #table {           
              border-right:none; 
              border-top:none; 
              border-left:none; 
              border-bottom:none;
            }
            .navbar .container #myNavbar_sub #table tr th {
               text-align: center;
               border:none; 
            }
            .paginations { padding-top: 60px;}
			#pagination {display: block; text-align: center;}
			.pagination > li > a {float: none;}
			
			#content > .table-responsive > .table > tbody > tr > th {
			  text-align: center;
			  
			}
			.container .table-responsive .table {
			  height: 100%;
			}
			
			
			.container-point .point-table {			  
			  width: 60%;
			  height: 300px;
			  margin-top: 100px;
			  margin-left: 280px;
			
			}
			
			.point_color1 {
			  color: #173B0B;
			}
			
			.point_color2 {
			  color: #4000FF;
			}
			
			.container-point .point-table thead tr th{
			  font-size: 30px;
			  text-align: center;
			  vertical-align: middle;
			}
			.container-point .point-table tbody tr th{
			  font-size: 30px;
			  text-align: center;
			  margin-right: 
			}
			
			#content_all {
			 background-color: #fff;  
			}
			
			.container_content {
		       margin-top: 20px;					
			   min-height: 800px;
			}
			
			#list-group-content {
			   margin-top: 10px;
			   width: auto;
			   height: 100px;;			  
			}
		
		.block_bookmark {
		border-right :solid 1px #CCC;
		  padding-bottom: 50px;	     
		  
		}
		  
		.block_bookmark_list {
		   margin-left: 40px;
		}  
				  
		.img-box {
		margin: auto;
		position: relative;
		}
				   
		  .episode-content {				   
		     text-align: center;
		     height: 119px; 		      
		    border-top:solid 1px #CCC;
	       border-bottom: solid 1px #CCC;	
		  }
		  
	/* 포인트 충전 후 모달 이미지 center*/
	.modal-body > .img-responsive { display: block; margin-left: auto; margin-right: auto; }
	
	.rent_totallist {
	min-height: 300px;
	background-color: #fff;	
	}
	
	.list-menu {
	 color: green;
	font-style: italic;
	font-size: 20px;
		}
		
		.content-menu {
		font-style: oblique;
		font-size: 15px;
		 color: #8b0000;
		}

			