<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="BuyMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="study.jsp.bookstory.model.Buy" id="buy">
		<result property="id" column="id"/>								<!-- 구매 번호 -->
		<result property="buy_day" column="buy_day"/>				<!-- 구매 날짜 -->
		<result property="buy_point" column="buy_point"/>			<!-- 구매 금액 -->
		<result property="allbuy_point" column="allbuy_point"/>		<!-- 전체구매 금액 -->
		<result property="member_id" column="member_id"/>		<!-- 회원번호 (외래키) -->
		<result property="episode_id" column="episode_id"/>		<!-- 에피소드 번호 (외래키) -->
		<result property="reg_date" column="reg_date"/>
		<result property="book_id" column="book_id"/>
		<result property="episode_name" column="episode_name"/>
		
	</resultMap>

	
	<!-- 선택한 작품 구입-->
	<insert id="insertAllBuyEpisode" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO buy(buy_day,member_id,episode_id,buy_point,book_id)
	VALUES
		<foreach collection="list" item="item" separator=",">
		(now(),#{item.member_id},#{item.episode_id},#{item.buy_point},#{item.book_id})
		</foreach>
	</insert>
	
	<!-- 회원의 에피소드에 대한 구매 여부 확인 -->
	<select id="selectBuyCountByMemberId" parameterType="study.jsp.bookstory.model.Buy" resultType="int">
	  SELECT COUNT(id) FROM buy WHERE member_id =#{member_id} AND episode_id=#{episode_id}
	</select>

	<!-- 대여 내역 조회 (이것만 제가 함. by윤식)-->
	<select id="selectBuyList" parameterType="study.jsp.bookstory.model.Buy" resultMap="buy">
	SELECT b.id, date_format(b.buy_day, '%Y-%b-%d %p%h:%i') AS buy_day , b.episode_id, b.book_id, e.episode_name, b.buy_point FROM buy as b, episode as e where b.member_id=#{member_id} and b.episode_id=e.id;
	</select>
	
  <!-- 전체 관심작품 수를 조회한다. 페이지 구현 위해서 -->
	<select id="selectBuyCount" parameterType="study.jsp.bookstory.model.Buy" resultType="int">
	  SELECT COUNT(id) FROM buy WHERE member_id =#{member_id}	
	</select>
	
	
	<!-- 특정 멤버에 속한 모든 구매 내역을 삭제한다. -->
	<delete id="deleteBuyAll" parameterType="study.jsp.bookstory.model.Buy">
	  DELETE FROM buy WHERE member_id =#{member_id}
	</delete>
	
	<!-- 회원의 작품 구매 내역 조회 -->
	<select id="selectPurchaseEpisodeList" parameterType="study.jsp.bookstory.model.Buy" resultMap="buy">
	SELECT id, episode_id, DATE_FORMAT(buy_day, '%Y-%m-%d') AS buy_day FROM buy where member_id=#{member_id}
	ORDER BY id DESC
	</select>
	
	<!-- 구매 내역 조회 -->
	<select id="selectCountAllBuyEpisode" parameterType="study.jsp.bookstory.model.Buy" resultType="int">		
 		SELECT COUNT(id) FROM buy WHERE member_id=#{member_id} AND book_id=#{book_id}
 	</select>
	
</mapper>