<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="BuyMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="study.jsp.bookstory.model.Buy" id="buy">
		<result property="id" column="id"/>								<!-- 구매 번호 -->
		<result property="buy_day" column="buy_day"/>				<!-- 구매 날짜 -->
		<result property="buy_point" column="buy_point"/>			<!-- 구매 금액 -->
		<result property="allbuy_point" column="allbuy_point"/>		<!-- 전체구매 금액 -->
		<result property="member_id" column="member_id"/>		<!-- 회원번호 (외래키) -->
		<result property="member_id" column="episode_id"/>		<!-- 에피소드 번호 (외래키) -->
		<result property="reg_date" column="reg_date"/>
	</resultMap>

	<!-- 책 n개 구입 -->
	<insert id="insertEpisodeItem" parameterType="study.jsp.bookstory.model.Buy"
		useGeneratedKeys="true" keyProperty="id">
	INSERT INTO buy (
		buy_day, buy_point, member_id, episode_id,reg_date
	) VALUES (
		#{buy_day}, #{buy_point}, #{member_id}, #{episode_id} ,now()
	)
	</insert>
	
	<!-- 책 전체 구입 -->
	<insert id="insertAllEpisode" parameterType="study.jsp.bookstory.model.Buy"
		useGeneratedKeys="true" keyProperty="id">
	INSERT INTO buy(
		buy_day, allbuy_point, member_id, episode_id,reg_date
	) VALUES (
		#{buy_day}, #{allbuy_point}, #{member_id}, #{episode_id},now()
	)
	</insert>
	
	<!-- 회원의 buy_Point 수정 -->
	<update id="updateMemberPoint" parameterType="study.jsp.bookstory.model.Member">
	UPDATE member SET point = #{point} - buy_point 
	WHERE member_id = #{member_id} and #{point} > buy_point
	</update>

	<!-- 구매 내역 조회 -->
	<select id="selectBuyList" parameterType="study.jsp.bookstory.model.Buy" resultMap="buy">
	SELECT id, buy_day , allbuy_day,reg_date FROM buy WHERE member_id = #{member_id} ORDER BY id DESC
	</select>
	
	<!-- 특정 멤버에 속한 모든 구매 내역을 삭제한다. -->
	<delete id="deleteBuyAll" parameterType="study.jsp.bookstory.model.Buy">
	  DELETE FROM buy WHERE member_id =#{member_id}
	</delete>
	
</mapper>