<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="RentMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="study.jsp.bookstory.model.Rent" id="rent">
		<result property="id" column="id"/>
		<result property="rent_day" column="rent_day"/>
		<result property="rent_outday" column="rent_outday"/>
		<result property="rent_point" column="rent_point"/>
		<result property="allrent_point" column="allrent_point"/>
		<result property="member_id" column="member_id"/>
		<result property="episode_id" column="episode_id"/>
		<result property="book_id" column="book_id"/>
		<result property="episode_name" column="episode_name"/>
		<result property="rent_term" column="rent_term"/>
	</resultMap>
	
	<!-- 선택한 작품 대여-->
	<insert id="insertAllRentEpisode" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO rent(rent_day,rent_outday,member_id,episode_id,rent_point,book_id)
	VALUES
		<foreach collection="list" item="item" separator=",">
		(now(),date_add(now(),interval 3 day),#{item.member_id},#{item.episode_id},#{item.rent_point},#{item.book_id})
		</foreach>
	</insert>
	
	<!-- 선택한 에피소드들의 남은 대여기간 조회 -->
	<select id="selectEndRentTerm" parameterType="java.util.Map" resultMap="rent">
		SELECT episode_id,DATE_FORMAT(rent_outday,'%Y-%m-%d')AS rent_term
		FROM rent
		WHERE episode_id IN
		<foreach collection="buyEpisodeItem" item="type" open="(" close=")" separator=",">
			#{type}
		</foreach>
	</select>
	
	<!-- 작품의 에피소드들의 남은 대여기간 조회 -->
	<select id="selectEndRentTermForBook" parameterType="study.jsp.bookstory.model.Rent" resultMap="rent">
		SELECT episode_id,DATE_FORMAT(rent_outday,'%Y-%m-%d')AS rent_term
		FROM rent
		WHERE book_id=#{book_id}
	</select>
	
	<!-- 회원의 에피소드에 대한 대여 여부 확인, 남은기간 조회 -->
	<select id="selectRentCountByMemberId" parameterType="study.jsp.bookstory.model.Rent" resultMap="rent">
	  SELECT id, (date_format(rent_outday,'%Y%m%d%H')-date_format(now(),'%Y%m%d%H')) as rent_term
	  FROM rent
	  WHERE member_id =#{member_id} AND episode_id=#{episode_id}
	</select>

	<!-- 대여 내역 조회 (이것만 제가 함. by윤식)-->
	<select id="selectRentList" parameterType="study.jsp.bookstory.model.Rent" resultMap="rent">
	SELECT r.id, r.rent_day, r.episode_id, r.book_id, e.episode_name, r.rent_point, r.rent_outday FROM rent as r, episode as e where r.member_id=#{member_id} and r.episode_id=e.id;
	</select>
	
	<!-- 특정 멤버에 속한 모든 대여 내역을 삭제한다. -->
	<delete id="deleteRentAll" parameterType="study.jsp.bookstory.model.Rent">
	  DELETE FROM rent WHERE member_id =#{member_id}
	</delete>
	
  <!-- 전체 관심작품 수를 조회한다. 페이지 구현 위해서 -->
	<select id="selectRentCount" parameterType="study.jsp.bookstory.model.Rent" resultType="int">
	  SELECT COUNT(id) FROM rent WHERE member_id =#{member_id}	
	</select>
	
</mapper>