			#nav {height: 50px;}
			#content {height: 830px;}
			#main_list > li {list-style: none;}
			.media {height: 100%;}
			.row .media .content {
			  display: inline-block;
              vertical-align: middle;
              zoom: 1;
              width: 500px;
              margin-top: 15px;
              margin-left: 10px;
            }
            .navbar .container #myNavbar_sub #table {
              border-right:none; 
              border-top:none; 
              border-left:none; 
              border-bottom:none;
            }
            .navbar .container #myNavbar_sub #table tr th {
               text-align: center;
               border:none; 
            }
            .paginations{padding-top: 10px;}
			.pagination {display: block; text-align: center;}
			.pagination > li > a {float: none;}
			
			#content > .table-responsive > .table > tbody > tr > th {
			  text-align: center;
			  
			}
			.container .table-responsive .table {
			  height: 100%;
			}
			
			.container .point-table{
			  
			  width: 100%;
			  height: 30%;
			  margin-top: 50px;
			}
			
			.container .point-table thead tr th{
			  font-size: 30px;
			  text-align: center;
			  vertical-align: middle;
			}
			.container .point-table tbody tr th{
			  font-size: 30px;
			  text-align: center;
			  margin-right: 
			}
			
			
			
			
			


			