@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') 
body .content{
	padinng-top: 46px;
}


/*작품 헤더 정보()*/
.book_headerBox{

	margin: auto;
	border-bottom: 1px solid #eee;
	
}

/* 작품 정보 Box*/
.book_infoBox{
	margin-top: 15px;
	
	
}

/* 작품 정보 Box안 버튼(첫회 보기, 전체 대여)을 감싼 div*/
.bookInfo_button{
	margin-top: 30px;
	
}

/*에피소드 리스트 헤더*/
.episodeList_header{
	margin: auto;
	margin-bottom : 10px;
	padding: 0;
	border-bottom: 1px solid #eee;
}

.episodeList{
	margin-top: 10px;
	
}

.episode_list{
	margin-top: 20px;
}
.episode_list > :FIRST-CHILD .block_12_2{
	    border-top: solid 1px #CCC;
}



.stargrade{
	
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	width: 114px;
	height: 22px;
	text-align: left;
	background-image: url("../../imgs/clipping/sp_icon.png");
	background-position: 0px -230px;
}

.grade_area{
	display: inline-block;
    color: #ff0000;
    height: 30px;
}

.info_book{
	margin: 0px;
	font-size: 14px;
	color: #888;
	padding-bottom: 5px;
}

.publish{
	margin-left: 13px;
}

.genre{
	margin-left: 13px;
}

.dsc{
	overflow: hidden;
    height: 140px;
    font-size: 13px;
    color: #666;
}

.block_12{
	padding-bottom: 15px;

}


.content6 {
	padding-top: 20px;
}

/* 관심등록 Off 일때*/
.favorite_Off{
	display: inline-block;
	zoom: 1;
	width: 58px;
    height: 47px;
    background-image: url("../../imgs/clipping/sp_but.png");
    background-position: -60px -170px;
}

/* 관심등록 On 일때*/
.favorite_On{
	display: inline-block;
	zoom: 1;
	width: 58px;
    height: 47px;
    background-image: url("../../imgs/clipping/sp_but.png");
    background-position: -120px -170px;
}

.btn_h3{
	padding-top: 15px;
}

.total {
	font-size: 18px;
    color: #999;
    font-family: arial;
    font-weight: normal;
}

.block_12_1{
	border-top:solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.block_12_2{
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	padding: 0;
}

.block_12_2   img{
	padding-left: 0px;
}

.episode_size{
	margin-top: 20px;
	font-size: large;
	font-style: black;
}

/* 에피소드 정보 */
.epi_info{
	    margin-top: 25px;
}

.episode_list >a:HOVER{

color:  #CD8F49;

}

.score_area{
	display: inline-block;
	color: #ff0000;
}

.icon_star_s{
	width: 12px;
    height: 12px;
    display: inline-block;
    background-image: url("../../imgs/clipping/sp_icon.png");
    background-position: -50px -120px;
}

.check_box_list{
	margin-top: 25px;
}

body .coment_li{
	display: inline-block;
	width: 100%;
	height: 70px;
	border-bottom: solid 1px #ccc;
}

body ul>li .coment_div{
	display: inline-block;
}

body .nic1{
	font-weight: bold;
	font-size: large;
	color: #0CC;
}

body .nic2{
	font-size:medium;
	color: #999;
}


	    /**체크박스*/
			
			
			.funkyradio div {
			  clear: both;
			  overflow: hidden;
			}
			
			.funkyradio label {
			  width: 100%;
			  border-radius: 3px;
			  border: 1px solid #D1D3D4;
			  font-weight: normal;
			}
			
			.funkyradio input[type="radio"]:empty,
			.funkyradio input[type="checkbox"]:empty {
			  display: none;
			}
			
			.funkyradio input[type="radio"]:empty ~ label,
			.funkyradio input[type="checkbox"]:empty ~ label {
			  position: relative;
			  line-height: 2.5em;
			  text-indent: 3.25em;
			  margin-top: 2em;
			  cursor: pointer;
			  -webkit-user-select: none;
			     -moz-user-select: none;
			      -ms-user-select: none;
			          user-select: none;
			}
			
			.funkyradio input[type="radio"]:empty ~ label:before,
			.funkyradio input[type="checkbox"]:empty ~ label:before {
			  position: absolute;
			  display: block;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  content: '';
			  width: 2.5em;
			  background: #D1D3D4;
			  border-radius: 3px 0 0 3px;
			}
			
			.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
			.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
			  color: #888;
			}
			
			.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
			.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
			  content: '\2714';
			  text-indent: .9em;
			  color: #C2C2C2;
			}
			
			.funkyradio input[type="radio"]:checked ~ label,
			.funkyradio input[type="checkbox"]:checked ~ label {
			  color: #777;
			}
			
			.funkyradio input[type="radio"]:checked ~ label:before,
			.funkyradio input[type="checkbox"]:checked ~ label:before {
			  content: '\2714';
			  text-indent: .9em;
			  color: #333;
			  background-color: #ccc;
			}
			
			.funkyradio input[type="radio"]:focus ~ label:before,
			.funkyradio input[type="checkbox"]:focus ~ label:before {
			  box-shadow: 0 0 0 3px #999;
			}
			
			.funkyradio-default input[type="radio"]:checked ~ label:before,
			.funkyradio-default input[type="checkbox"]:checked ~ label:before {
			  color: #333;
			  background-color: #ccc;
			}
			
			.funkyradio-primary input[type="radio"]:checked ~ label:before,
			.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
			  color: #fff;
			  background-color: #337ab7;
			}
			
			.funkyradio-success input[type="radio"]:checked ~ label:before,
			.funkyradio-success input[type="checkbox"]:checked ~ label:before {
			  color: #fff;
			  background-color: #5cb85c;
			}
			
			.funkyradio-danger input[type="radio"]:checked ~ label:before,
			.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
			  color: #fff;
			  background-color: #d9534f;
			}
			
			.funkyradio-warning input[type="radio"]:checked ~ label:before,
			.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
			  color: #fff;
			  background-color: #f0ad4e;
			  
			}
			
			.funkyradio-info input[type="radio"]:checked ~ label:before,
			.funkyradio-info input[type="checkbox"]:checked ~ label:before {
			  color: #fff;
			  background-color: #5bc0de;
			}
			
			.check_label{
				margin: 0;
				margin-top: 10px !important;
			}
			
			.check_button{
				margin-top: 10px;
			}
			
/*에피소드 체크 버튼*/
.button_span{
	display: block;
	height: 120px;
	
}




/*결제 완료*/
.pay_done{
	text-align: center;
	font-size: 14px;
}
